/*+++++++++++++++++++++
=====================================
 Plantilla : Fotografia LeMi - Portfolio
 Author Name : Leticia Martinez y Brais Miguez
 Version : 1.0
===============================
+++++++++++++++++++*/


*, *::before, *::after {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#portfolio{
  padding: 90px 0;
 

}
.grid{
  width:100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}

.huella{
  width:90px;
  height: 100px;
  /* position: absolute; */
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease;
}

.imagen1{
 
  transform: rotate(-50deg);
}

.imagen2{
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  transform: rotate(-50deg);
}

.imagen3{
  grid-row: 3 / 4;
  grid-column: 3 / 4;
  transform: rotate(-60deg);
}
.imagen4{
  grid-row: 4 / 5;
  grid-column: 4 / 5;
  transform: rotate(-40deg);
}

.imagen5{
  grid-row: 5 / -1;
  grid-column: 5 / -1;
  transform: rotate(-40deg);
}
.imagen6{
  grid-column: -1 / 5;
  transform: rotate(-80deg);
}

.imagen7{

  grid-column: 4 / 5;
  transform: rotate(0deg);
}

.imagen8{
  left:70%;
  top: 450px;
  transform: rotate(-50deg);
}

.imagen9{
  left:80%;
  top: 500px;
  transform: rotate(-40deg);
}
.imagen10{
  left:80%;
  top: 650px;
  transform: rotate(20deg);
}
.imagen11{
  left:70%;
  top: 700px;
  transform: rotate(40deg);
}

.imagen12{
  left:60%;
  top: 750px;
  transform: rotate(60deg);
}

.imagen13{
  left:50%;
  top: 800px;
  transform: rotate(60deg);
}
.imagen14{
  left:40%;
  top: 850px;
  transform: rotate(60deg);
}

.imagen15{
  left:30%;
  top: 900px;
  transform: rotate(60deg);
}

.imagen16{
  left:20%;
  top: 950px;
  transform: rotate(40deg);
}

.imagen17{
  left:10%;
  top: 1000px;
  transform: rotate(40deg);
}
.imagen18{
  left:0%;
  top: 1050px;
  transform: rotate(10deg);
}

.imagen19{
  left:0%;
  top: 1250px;
  transform: rotate(-10deg);
}

.imagen20{
  left:10%;
  top: 1350px;
  transform: rotate(-20deg);
}

.visible{
  opacity: 0.5;

}