/*+++++++++++++++++++++
=====================================
 Plantilla : Fotografia LeMi - About Us
 Author Name : Leticia Martinez y Brais Miguez
 Version : 1.0
===============================
+++++++++++++++++++*/

/*Header de la pagina*/

header {
    padding-top: 80px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-image: linear-gradient(
        to left bottom,
        rgba(26, 27, 25, 0.784),
        rgba(26, 27, 25, 0.784)
      ),
    url("/aboutUs/images/fotografoFondo.webp");

}

.contenedorTitulo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.contenedorTitulo>*{
    color: var(--color-principal-claro);
}

.subtitulo{
    margin-top: 50px;
    font-size: 20px;
    font-family: "Karatone", Helvetica, sans-serif;
}


/*Seccion de los socios*/

#contenedorSocios{
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 2fr 2fr;
    justify-items: center;
    padding-top: 80px;
}

.socio{
    display: flex;
    flex-direction: row;
    width: 50%;
    background-color: aqua;
}

.perfilSocio{
    width: 50%;
    height: 50%;
}

.perfilSocio img{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.descripcionSocio{
    padding: 20px;
    height: 50%;
    margin: auto;
    background-color: blueviolet;
    color: var(--color-grey-body);
}

.descripcionSocio>*{
    text-align: center;
    margin: 0 auto;
}

.nombreSocio{
    font-size: 30px;
    font-weight: 600;
}

.descripcionSocio p{
    margin-top: 10px;
}