/*+++++++++++++++++++++
=====================================
 Plantilla : Fotografia LeMi - Contacto
 Author Name : Leticia Martinez y Brais Miguez
 Version : 1.0
===============================
+++++++++++++++++++*/


header {
    padding-top: 80px;
    top: 100px;
    position: relative;    
}

header h2{
    position: absolute;
    font-family: "Harmonais", Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 500;
    top: 10%;
    left: 10%;
    padding: 20px;
}

