/*+++++++++++++++++++++
=====================================
 Plantilla : Fotografia LeMi - Contacto
 Author Name : Leticia Martinez y Brais Miguez
 Version : 1.0
===============================
+++++++++++++++++++*/


header {
    padding-top: 80px;
    min-height: 30vh;
}

header h2{
    font-family: "Harmonais", Helvetica, sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-top: 50px;
}

#contenedorContacto{
    background-color: red;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.botonEnviar{
    font-family: "Josefine Sans", serif;
}
