/*+++++++++++++++++++++
=====================================
 Plantilla : Fotografia LeMi
 Author Name : Leticia Martinez y Brais Miguez
 Version : 1.0
===============================
+++++++++++++++++++*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
}

:root {
  --color-principal-claro: rgb(244, 237, 230);

  --color-principal-claro-transparente: rgba(244, 237, 230, 0.6);
  --color-complementario-claro: #3aaa38;
  --color-complementario-oscuro: rgb(216, 238, 215);
  --color-white: #fff;
  --color-black: #2b2a2a;
  --color-grey-body: #43484e;
  --color-grey-light: #ccc;
  --color-naranja: #fc7700;
  --slider-shadow: rgba(0, 0, 0, 0.125);
  --background-navbar: rgba(255, 255, 255, 0.988);
  --navigation-shadow: rgba(0, 0, 0, 0.298039);
  --cookiebox-shadow: #808080;
  --enviar-mensaje-shadow: rgba(0, 0, 0, 0.4);
}

::selection {
  background-color: #d8eed7;
}

@font-face {
  font-family: "Karatone";
  src: url("../fonts/Karatonedemo-0Wr79.ttf");
}

@font-face {
  font-family: "Leafy";
  src: url("../fonts/Leafy-Regular.ttf");
}
@font-face {
  font-family: "Prestigious";
  src: url("../fonts/Prestigious.otf");
}

@font-face {
  font-family: "Daisy";
  src: url("../fonts/Daisy-Regular.ttf");
}
@font-face {
  font-family: "Loistave";
  src: url("../fonts/Loistave.ttf");
}
@font-face {
  font-family: "Maglite";
  src: url("../fonts/Maglite.ttf");
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}
body {
  background-color: var(--color-principal-claro);
  overflow-x: hidden;
}

section,
header {
  min-height: 100vh;
  width: 100vw;
}

nav {
  display: grid;
  position: fixed;
  width: 100vw;
  height: 80px;
  grid-template-columns: 1fr 1fr;
  background-color: var(--color-principal-claro);
  align-items: center;
  align-content: center;
  box-shadow: 0 0 20px black;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  font-family: "Josefine Sans", sans-serif;
  font-weight: 100;
  font-size: 17px;
  z-index: 10;
}

.contenedorLogo {
  width: 100%;
  text-align: center;
}

.contenedorLogo > img {
  height: 70px;
}

.contenedorEnlaces {
  width: 100%;
  height: 100%;
  margin: auto;
  align-self: center;
}
.listaEnlaces {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.enlaceNavegacionL {
  list-style: none;
}

.enlaceNavegacionL > a {
  color: black;
}

.enlaceNavegacionL.active > a {
  color: var(--color-complementario-claro);
  font-size: large;
  border-bottom: 2px solid var(--color-complementario-claro);
}

/*Header de la pagina*/

header {
  padding-top: 80px;
  background-image: url("../images/fondoOscuro2.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

.contenedorHeader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.contenedorHeader > * {
  margin: 15px;
}

h1.titulo {
  font-family: "Leafy", Helvetica, serif;
  font-size: 150px;
  color: var(--color-principal-claro);
  font-weight: 200;
}

h2.subtitulo {
  font-family: "Karatone", Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 200;
  color: var(--color-principal-claro);
}

.buttonHeader {
  font-family: "Karatone", Helvetica, sans-serif;
  background-color: var(--color-principal-claro);
  color: black;
  border-radius: 30px;
  font-size: 19px;
  font-weight: 300;
  padding: 14px 35px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  border: 1px solid black;
  box-shadow: 0 0 0 0 black;
}

.buttonHeader:hover {
  transform: translateY(-4px) translateX(-2px);
  box-shadow: 2px 5px 0 0 var(--color-complementario-oscuro);
}

.buttonHeader:active {
  transform: translateY(2px) translateX(1px);
  box-shadow: 0 0 0 0 black;
}

/*About us resumen*/

#aboutUsResumen {
  padding: 20px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-items: center;
}

.contenedorImagen,
.contenedorImagen iframe {
  width: 100%;
  height: 100%;
}
.contenedorImagen iframe {
  border: 0;
}
.contenedorInfo {
  padding: 20px;
  margin-top: -50px;
  text-align: center;
}

h2.titulo {
  font-family: "Karatone", Helvetica, sans-serif;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.68);
  margin-bottom:30px;
  font-weight: 300;
}

h4.subtitulo {
  font-weight: 200;
  font-size:20px;
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  color: rgba(0, 0, 0, 0.419);
  font-weight: 400;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 200px;
  height: 37px;
  margin: 60px 0;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 700;
  line-height: 1;
  text-align: center;
  /* text-transform: uppercase; */
  font-size: 2em;
}

button:hover .circle {
  width: 100%;
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

button:hover .button-text {
  color: #fff;
}

/*Galeria resumen*/

.galeriaResumen {
  margin-top:60px;
  padding: 40px;
  text-align: center;
}

.contenedorResumen{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  /* background-color: #555c54; */
  background-size: cover;
  position: relative;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

.resumen img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.resumen {
  /* border: 3px solid #ada8a2; */
  height: 300px;
  width: 250px;
  text-align: center;
  background-color: var(--color-principal-claro);
  font-size: 15px;
  padding: 20px;
  border-radius: 20px;
  border-radius: 20px;
  /* background-color: #212121; */
  box-shadow: 3px 3px 5px #c1bbb6, -3px -3px 5px #fbf8f5;
  color: var(--color-grey-body);
  transition: all 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
}



.resumenTitulo {
  margin: 10px auto;
  font-weight: 800;
  font-size: 25px;
  font-family: "Karatone";
  color: rgba(0, 0, 0, 0.68);
  border-bottom: 2px dotted var(--color-grey-body);
  width: fit-content
  
}

.resumenInfo {
  margin-top: 10px;
  font-weight: 400;
  font-size: 15px;
  color: rgb(103, 102, 102);
}

.resumen:hover{
  background-color: var(--color-complementario-oscuro);
  transform: translate(-5px,-5px);
  box-shadow: 8px 8px 5px #c1bbb6, -8px -8px 5px #fbf8f5;
}

/*Review resumen*/
.reviewsResumen{
  margin-top:-6em;
  padding: 100px;
  text-align: center;
  background-image: linear-gradient(to left bottom, rgba(225, 224, 223, 0.495), rgba(213, 218, 212, 0.742)), url("../images/nat-9.jpg");
  background-size: cover;
  box-shadow: inset 0px 0px 80px rgba(0, 0, 0, 0.68);
  background-attachment: fixed;
}





